<!doctype html>

<html lang="<%=page.language%>">

<% include header.ejs %>

<body id="files">

<script src="<%=cstatic%>/js/lib/jquery.validate<%=min%>.js"></script>
<script src="<%=cstatic%>/js/lib/localization/messages_<%=page.language%>.js"></script>

<script src="<%=cstatic%>/js/lib/jquery.jstree.js"></script>

<script src="<%=cstatic%>/js/atom-tree.js"></script>
<script type="text/javascript"> 
	$(document).ready( function() {
	  var gTree = new jAtomTree(2, "<%=shownode%>", gLanguage, "files", gCody);
	  gTree.init();
	});
</script>


  <section>
    <header>
      <% include top.ejs %>
      <% include navigation.ejs %>
    </header>
    
    <div>
		
 	    <div id="left_nav">
			<div class="btn-group btn-group-sm" role="group" aria-label="...">
				<button type="button"  class="btn btn-default" id="doAddFolder"><%= __("Add Folder")%></button>
				<button type="button"  class="btn btn-default" id="doAddFile"><%= __("Add File")%></button>
				<button type="button"  class="btn btn-default" id="doRename" ><%= __("Rename")%></button>
				<button type="button"  class="btn btn-default" id="doDelete" ><%= __("Delete")%></button>
				<button type="button"  class="btn btn-default" id="doEdit" ><%= __("Edit")%></button>
			</div>

        <div id="tree">
          <ul><li id="id_<%= controller.getRoot() %>" class="open" rel="root"><a href="#"><ins>&nbsp;</ins>Files</a>
              <%- controller.getTree() %>
          </li></ul>
        </div>
			
	    </div>
	    
	    <div id="right_cont">
			</div>
       
		</div>
 
		<% include footer.ejs %>
  </section>
</body>
</html>
