<nav class="navbar navbar-inverse">
    <% if (isLoggedIn()) { %>
        <ul class="nav navbar-nav">
            <% for (var i in page.parent.children) {
                var p = page.parent.children[i];
                if (p.isVisible()) { %>
                    <li><a href="/<%= p.url %>" class="<%= (p == page) ? 'active' : '' %>"><%= p.title %></a></li>
                <% } %>
            <% } %>
        </ul>
    <% } %>
</nav>
<% if (message !== "") { %>
    <p class="notification <%= status %>"><%= __(message) %></p>
    <% if (status === "success") { %>
        <script>
            $(document).ready( function () { $(".notification").delay(6000).fadeOut(1000); } );
        </script>
    <% } %>
<% } %>